<a class="icon-md icon-close dialog-close-button js-close-window" href="#"aria-label="Fechar caixa de diálogo" role="button">
</a>
<div class="card-detail-window u-clearfix" style="min-height:unset;">
  <div class="window-header js-card-detail-header" style="padding-left: 50px;">
    <div class="window-title">
      <h2 style="display:block" >
        BRProject - LOGIN
      </h2>
    </div>
  </div>
  <div style="padding-left: 50px; padding-bottom: 50px">
    <form id="brproject-form-login" action="#" method="post">
      <p class="error"></p>
      <div style="display:flex; flex-direction:column;    max-width: 90%;">
          <label for="url">URL</label>
          <input id="brproject-url" class="url" name="url" value="https://www2.projetos.brsis.com.br/brproject"
            type="text" autocomplete="off"
            style="padding:10px; border:1px solid #ccc; border-radius:4px;" />
        </div>

        <div style="display:flex; flex-direction:column;    max-width: 90%;">
          <label for="email">E-mail</label>
          <input id="brproject-email" class="email" name="email" type="email" autocomplete="off"
            style="padding:10px; border:1px solid #ccc; border-radius:4px;" />
        </div>

        <div style="display:flex; flex-direction:column;    max-width: 90%;">
          <label for="senha">Senha</label>
          <input id="brproject-senha" class="senha"  name="senha" type="password" autocomplete="off"
            style="padding:10px; border:1px solid #ccc; border-radius:4px;" />
        </div>
      <button class="primary js-save-changes loading" type="submit"
          style="padding:12px; background-color:#0079bf; color:white; border:none; border-radius:4px; font-weight:bold; cursor:pointer;">
          Enviar
        </button>
    </form>
  </div>
</div>